.flip{
  background-color: lightcoral;
  background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
 
}

.flip-card {
  width: 350px;
  height: 400px;
  margin:90px 0px 0px 980px;
  border-radius: 20%;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-back {
  background-color: lightcoral;
  width: 100%;
  height: 138%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2%;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
}

.flip-card-front {
  background-color:lightcoral;
  width: 100%;
  height: 103%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 2%;
  box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.5);
}

.flip-card form {
  padding: 20px;
}

