.app-header {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px;
}

.logo h1 {
  margin: 0;
  color: rgb(0, 0, 0);
}

.nav-links {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  padding-left: 1060px;
}


.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li:first-child {
  margin-left: 0;
}

.nav-links ul li a {
  color: #000000;
  font-size: 104%;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: lightcora; /* Change color on hover */
}
